.overlay {
  position: absolute;
  width: 80%;
  height: 10%;
  top: 610px;
  left: 145px;
  background-color: rgb(119 177 199);
}
.check {
  margin-top: 1%;
  display: inline-block;
  height: 50px; 
  width:20%;
}
.timkiem {
position: absolute;
top: 12px;
right: 13px;
font-size: 14px;
background-color: rgba(27, 54, 73);
width: 100px;
height: 51px; 
border: none;
border-radius: 5px;

-webkit-transition: all 0.5s;
transition: all 0.5s;
}

.timkiem:hover {
background-color: #a7f3ff;
box-shadow: 0 0 20px rgba(137, 217, 237, 0.648);
transform: scale(1.1);
}

.timkiem:active {
background-color: rgba(27, 54, 73);
-webkit-transition: all 0.25s;
transition: all 0.25s;
box-shadow: none;
transform: scale(0.98);
}
img.tamhinhanh {
  margin: -2% 0 0 46%;
  height: 90px;
}