.layout_danh_gia_noi_bat{
  width: 1380px;
  height: auto;
  margin: auto;
}
.danh_gia{
  float: left;
  width: 40%;
  height: 200px;
  text-align: left;
  border-radius: 20px;
  background-color: rgb(132, 193, 219);
}
.anh_dai_dien{
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 2%;
}
.comment{
  float: left;
  width: 70%;
  height: 150px;
  margin: 5% 3% 3% 3%;
}
button{
  background: transparent; 
  border: none;
}
button img{
  opacity:0.3;
  cursor:pointer;
}
button >img:hover{
  opacity: 0.8;
}
