.diadiemnoibat {
  width: 1380px;
  height: auto;
  margin-top: -10px;
  margin: auto;
  }
.circle {
          width: 300px;   
          height: 300px;
          border-radius: 50%;
         
        }

.anhdiadiem {
  width: 1380px;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  }  
