@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body {
  font-family: 'PT Serif', serif;
  background: linear-gradient(rgb(163, 214, 228), rgb(212, 227, 235));
  }
div#phandichvu{
  display: flex;
  width: 100%;
  /* background-color: #fff; */
  position: relative;
  padding: 50px 0;
}
.dichvu {
  position: relative;
  max-width: 1380px;
  height: auto;
  margin:  auto;
}
p {
  color: #000;
  font-size: 20px;
  line-height: 30px;
}
.hat2 {
  color: #000;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0 0 0;
  font-weight: 300;
  display: block;
}
#phandichvu div > p {
  margin: 1em 5% 0em auto;
  text-align: center;
}

p.tatacl {
    padding: 0 0% 0 2%;
}
#phandichvu li div > p {
  /* margin: 0 90px 10px 0; */
  text-align: left;
}
#phandichvu ul {
  list-style-type: none
}
#phandichvu ul li {
  width: calc(50% - 37px);
  height: 590px;
  float: left;
  position: relative;
  margin-bottom: 37px;
}
#phandichvu ul li:nth-child(2n + 1) {
  margin-right: 37px;
}
#phandichvu ul li:nth-child(2n + 2) {
  margin-left: 37px;
}
#phandichvu ul li > a > div > .tieude_phandichvu {
  font-size: 21px;
  line-height: 36px;
  font-weight: normal;
  text-align: left;
  width: 100%;
  color: #000;
  text-transform: uppercase;
  margin: 20px 0;
}
#phandichvu li div {
  position: absolute;
  top: 375px;
  left: 0;
  float: left;
  width: 100%;
  padding: 0 10% 0 0;
}
#phandichvu li div.hinhanh {
  height: 375px;
  top: 0;
  max-width: 80%;
}
#phandichvu li div.hinhanh img {
  position: absolute;
  top: 48% !important;
  left: 30% !important;
  float: left;
  width: 100%;
  height: 100%;
  margin: -191px 0px 0px -177px;
  object-fit: cover;
}
.docthem {
    color: #a98524 !important;
    font-size: 9px !important;
    display: inline-block;
    width: auto !important;
    text-transform: uppercase;
    height: 50px !important;
    line-height: 50px !important;
}

.hinhanh
{
  height: 100px;
  padding: 0px 0 0 45%;
}