
.loaiphong {
    width: 100%;
    height: 320px;
}
.loaiphong1 {
    width: 23%;
    float: right;
    margin-top: 30px; 
    margin-right: 20px

}
.loaiphong2 {
    height: 200px;
    background-color: white;
}
p.loaiphong {
    color: rgb(251, 251, 252);
    font-size: 30px;
    
}