.thanh_logo1{
  width: 100%;
  position: fixed;
  z-index: 5;
  height: auto;
  background: linear-gradient(180deg, rgba(22, 21, 20, 0.95) 0%, rgba(22, 21, 20, 0) 100%);
  padding: 14px 0 0 0;
}
.logo1 {
  float: left;
  width: 12%;
  height: 53px;
  cursor: pointer;
  line-height: 2;
  text-align: center;
  font-size: 23px;
  color: white;
  text-decoration: none;
}
.fa{
  color: white;
}
.fa:hover{
  color:rgb(136, 201, 247)
}
.logo {
  float: left;
  width: 15%;
  height: 53px;
}
.thanh_logo1 img  {
  position: relative;
  top: -18px;
  width: 100%;
  height:90px
}

.menu{
  width: 160px;
  background-color: rgb(252, 252, 252);
  position: absolute;
  top: 60px;
  left: 120px;
  z-index: 1;
  display: none;
  font-size: 18px;
}
.menu a, #menu_client a{
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: black;
}
.logo1:hover .menu{display: block;}
.menu a:hover {color:rgb(0, 91, 156)}
.logo1:hover{color:rgb(136, 201, 247)}
.thanh_logo1.shrink .logo1{
  color:black
}
.thanh_logo1.shrink .logo1:hover{
  color:rgb(0, 91, 156) 
}
.thanh_logo1.shrink .fa:hover{
  color:rgb(0, 91, 156) 
}
.thanh_logo1.shrink .fa{
  color:black
}
.thanh_logo1.shrink
{
  background: white;
}
#client > i{
  float: left;
  width: 2%;
  height: 53px;
  cursor: pointer;
  font-size: 30px;
  line-height: 1.5;
}
#menu_client{
  width: 160px;
  background-color: rgb(252, 252, 252);
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 1;
  display: none;
  font-size: 18px
}
#client:hover #menu_client{display: block}
#menu_client a:hover{color:rgb(0, 91, 156);}
