.menu{
  width: 222px;
  background-color: rgb(252, 252, 252);
  position: absolute;
  top: 50px;
  z-index: 1;
  display: none;
  text-align: center;
  font-size: 18px
}
.menu a{
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: gray;
}
.logo1:hover .menu{display: block;}
.menu a:hover {background-color: rgb(206, 236, 255);}
.logo1:hover {background-color: rgb(206, 236, 243);}

.logo1 {
  float: left;
  width: 12%;
  height: 53px;
  cursor: pointer;
  line-height: 2;
  text-align: center;
  /* font-family: 'Serif'; */
  font-size: 25px;
  color: rgb(0, 0, 0);
  /* font-weight: bold; */
  text-decoration: none;
}
.logo {
  float: left;
  width: 15%;
  height: 53px;
}

.thanh_logo1{
  width: 100%; 
  position: fixed; 
  z-index: 1; 
  background-color:white;
  border: 5px solid rgb(193, 233, 244);
}
