.layout_mota-uudai{
    width: 1380px; 
    height: auto;
    margin: auto;
}


.noidung {
    position: absolute;
    bottom:0%;
    float: left;
    left: 60px;
    width: 90%;
    padding:10px;
    font-size: 15px;
    font-weight: 100;
    font-family:Jost,sans-serif;
    background-color: whitesmoke; 
    font-family:Jost,sans-serif;
    text-align: justify;
    word-spacing: 1px;
    letter-spacing: 1px;
    border-radius: 20px;
  }




.pp
{
    padding: 130px 0 0 0;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}