.mota1{
    width: 100% ; 
    height: 800px ; 

}

.mota2{
    width: 100% ; 
    height: 620px ; 
    
}

.mota3{
    float: left ;
    width: 50% ;
    height: 620px
}

.mota4{
    margin: 50px 10% 50px 10% ; 

}

.mota5{
    width: 100% ; 
    height: 282px ; 
}

.mota6{
    width: 100% ; 
    height: 299px;
    
}

.mota7{
    float: right ; 
    width: 50% ; 
    height: 620px
}


.uudai1{
    float: left ; 
    width: 50% ; 
    height: 230px;
    background:rgb(193, 233, 244)
}
.uudai2{
    margin: 10px 10% 10px 10% ; 
    height: 180px ; 
    background:rgb(193, 233, 244)
}