
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#phongnoibat > div > ul li:cuoi-child {
  margin-right: 0 !important;
}
#phongnoibat:hover > div > span.hieuung > span,   
#phongnoibat:active > div > span.hieuung > span {
  opacity: 1;
}
#phongnoibat {
  text-align: center;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 430px;
  background: #382e2c;
}
#phongnoibat > div {
  overflow: hidden;
  margin: 50px auto 0 auto;
  display: block;
  width: 100%;
  position: relative;
  height: 270px;
}
#phongnoibat > .mo_toanbo {
  font-family: "ClanOT-ExtdBook", sans-serif;
  text-transform: uppercase;
  font-size: 9px;
  margin-top: 45px;
  display: inline-block;
  color: #fff;
  padding-right: 40px;
  background: transparent
}
a {
  text-decoration: none;
}
#phongnoibat > div > ul {
  position: absolute;
  float: left;
  width: 100%;
  top: 0;
  left: 0;
  height: 270px;
}
#phongnoibat > div > span.hieuung {
  float: left;
  width: 135px;
  height: 270px;
  position: absolute;
  top: 0;
}
#phongnoibat > div > span.left {
  left: 0;
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
#phongnoibat > div > span.right {
  right: 0;
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0.01) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.01) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.01) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
 
}
#phongnoibat > div > span.hieuung > span {
  display: none;
  margin: -13px 0 0 -16px;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  position: absolute;
  left: 25%;
  top: 50%;
  background: transparent
    url(../img/anhphongnoibat/gallery_arrows.png)
    no-repeat left top;
  float: left;
  width: 16px;
  height: 27px;
  cursor: pointer;
}
#phongnoibat > div > span.right > span {
  background-position: 0 -27px;
  left: 75%;
  margin-left: 0;
}

#phongnoibat > div > ul li.dau {
  margin-left: 0px !important;
}
#phongnoibat > div > ul li:dau-child {
  margin-left: 0 !important;
}

#phongnoibat > div > ul li {
  overflow: hidden;
  float: left;
  width: 270px;
  height: 270px;
  margin: 0 25px;
}
#phongnoibat > div > ul li a {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
}
img.hinhanh {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  float: left;
  opacity: 0;
 width: 270px;
  height: 270px;
   margin: -135px 0px 0px -135px;
    opacity: 1;

}
.div_phongnoibat {
  width: 1100px  !important;
}
.ul {
 width: 10560px  !important; 
 left: -2805px  !important;
}